BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk_in_pclk" SITE "H1" ;
LOCATE COMP "adc_cs" SITE "G1" ;
LOCATE COMP "adc_sck" SITE "B1" ;
LOCATE COMP "adc_sd1" SITE "D1" ;
LOCATE COMP "adc_sd2" SITE "E1" ;
LOCATE COMP "ctl_int" SITE "P2" ;
LOCATE COMP "ctl_cs" SITE "P4" ;
LOCATE COMP "ctl_sck" SITE "P5" ;
LOCATE COMP "ctl_mosi" SITE "P6" ;
LOCATE COMP "ctl_miso" SITE "P7" ;
LOCATE COMP "dingsrst" SITE "P10" ;
LOCATE COMP "dings" SITE "P9" ;
LOCATE COMP "rx_clk" SITE "B14" ;
LOCATE COMP "rx_syn" SITE "D14" ;
LOCATE COMP "rx_dat" SITE "E14" ;
LOCATE COMP "tx_clk" SITE "A14" ;
LOCATE COMP "tx_syn" SITE "G14" ;
LOCATE COMP "tx_dat" SITE "F14" ;
LOCATE COMP "gain0" SITE "P1" ;
LOCATE COMP "gain1" SITE "N1" ;
LOCATE COMP "gps_1pps" SITE "P14" ;
LOCATE COMP "gps_10k" SITE "N14" ;
LOCATE COMP "gpio_0" SITE "A1" ;
LOCATE COMP "gpio_1" SITE "A2" ;
LOCATE COMP "gpio_2" SITE "A3" ;
LOCATE COMP "gpio_3" SITE "A5" ;
LOCATE COMP "gpio_4" SITE "A7" ;
LOCATE COMP "gpio_5" SITE "A8" ;
LOCATE COMP "gpio_6" SITE "A9" ;
LOCATE COMP "gpio_7" SITE "A10" ;
LOCATE COMP "gpio_8" SITE "A11" ;
LOCATE COMP "gpio_9" SITE "A13" ;
LOCATE COMP "led" SITE "M7" ;
LOCATE COMP "vgnd_0" SITE "B3" ;
LOCATE COMP "vgnd_1" SITE "C5" ;
LOCATE COMP "vgnd_2" SITE "C8" ;
LOCATE COMP "vgnd_3" SITE "B2" ;
LOCATE COMP "vgnd_4" SITE "C2" ;
LOCATE COMP "vgnd_5" SITE "D2" ;
LOCATE COMP "vgnd_6" SITE "M6" ;
LOCATE COMP "vgnd_7" SITE "N2" ;
LOCATE COMP "vgnd_8" SITE "N3" ;
LOCATE COMP "vgnd_9" SITE "D12" ;
LOCATE COMP "vgnd_10" SITE "D13" ;
LOCATE COMP "vgnd_11" SITE "M10" ;
LOCATE COMP "vcc33_0" SITE "B6" ;
LOCATE COMP "vcc33_1" SITE "C7" ;
LOCATE COMP "vcc33_2" SITE "C10" ;
LOCATE COMP "vcc33_3" SITE "D3" ;
LOCATE COMP "vcc33_4" SITE "E3" ;
LOCATE COMP "vcc33_5" SITE "G2" ;
LOCATE COMP "vcc33_6" SITE "H2" ;
LOCATE COMP "vcc33_7" SITE "M4" ;
LOCATE COMP "vcc33_8" SITE "M5" ;
LOCATE COMP "vcc33_9" SITE "P13" ;
LOCATE COMP "vcc33_10" SITE "M13" ;
LOCATE COMP "vcc33_11" SITE "N13" ;
LOCATE COMP "vcc12_0" SITE "B9" ;
LOCATE COMP "vcc12_1" SITE "B10" ;
LOCATE COMP "vcc12_2" SITE "C9" ;
LOCATE COMP "vcc12_3" SITE "H13" ;
LOCATE COMP "vcc12_4" SITE "H14" ;

IOBUF PORT "clk_in_pclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "adc_cs" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "adc_sck" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "adc_sd1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "adc_sd2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ctl_int" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "ctl_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ctl_sck" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ctl_mosi" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ctl_miso" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "dingsrst" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dings" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "gps_10k" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "rx_clk" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "rx_syn" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "rx_dat" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "tx_clk" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "tx_syn" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "tx_dat" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "gain0" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "gain1" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "gps_1pps" IO_TYPE=LVCMOS33 ;
IOBUF PORT "gpio_0" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "gpio_1" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "gpio_2" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "gpio_3" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "gpio_4" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "gpio_5" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "gpio_6" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "gpio_7" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "gpio_8" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "gpio_9" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "led" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vgnd_0" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vgnd_1" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vgnd_2" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vgnd_3" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vgnd_4" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vgnd_5" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vgnd_6" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vgnd_7" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vgnd_8" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vgnd_9" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vgnd_10" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vgnd_11" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vcc33_0" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vcc33_1" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vcc33_2" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vcc33_3" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vcc33_4" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vcc33_5" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vcc33_6" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vcc33_7" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vcc33_8" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vcc33_9" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vcc33_10" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vcc33_11" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vcc33_12" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vcc12_0" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vcc12_1" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vcc12_2" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vcc12_3" IO_TYPE=LVCMOS33 DRIVE=4 ;
IOBUF PORT "vcc12_4" IO_TYPE=LVCMOS33 DRIVE=4 ;

FREQUENCY PORT "clk_in_pclk" 30.000000 MHz ;
FREQUENCY NET "clk_80_c" 80.000000 MHz ;
SYSCONFIG INBUF=OFF ;
